.loadingContainer {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(73, 72, 72);
  z-index: 9999;
  flex-direction: column;
}

.loadingCircle {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 10px solid transparent; 
  border-top-color:  #ffbe0b;
  border-bottom-color: #ffbe0b;
  animation: spin 1.5s linear infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 20px;
}

.loadingText {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  animation: fadeInOut 2s ease-in-out infinite;
  color: #f42b03;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeInOut {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}