.teamPage {
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .teamTitle {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
  
  .teamSection {
    margin-bottom: 1rem;
  }
  
  .teamSectionTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #333;
  }
  .teamGrid {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    align-items: center;
  }

  .filterButtons {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, auto));
    gap: 12px;
    justify-content: center;
    margin: 0 auto;
    width: 100%;
    max-width: 800px; /* Prevents stretching too wide on large screens */
}

/* Mobile: Stack buttons vertically */
@media (max-width: 600px) {
    .filterButtons {
        grid-template-columns: 0.8fr;
    }
}

.filterButton {
    padding: 10px 14px;
    border: none;
    background-color: #ddd;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s;
    color: var(--primary-blue);
    font-weight: 550;
    font-size: large;
    text-align: center;
    min-width: 120px;
}

  .filterButton:hover {
    background-color: #bbb;
  }
  
  .active {
    background-color: var(--primary-blue);
    color: #fff;
  }
  

/* Show All Button */
.showAllButton {
  padding: 12px 16px;
  border: none;
  background-color: var(--primary-blue);
  color: white;
  cursor: pointer;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 550;
  transition: background-color 0.3s ease;
  margin-bottom: 16px;
}

.showAllButton:hover {
  background-color: darkblue;
}
