// .newsletterContainer {
//     padding: 20px;
//     text-align: center;
// }

// .emailInput {
//     padding: 10px;
//     margin: 10px 0;
//     width: 80%;
//     border: 1px solid #ccc;
//     border-radius: 5px;
// }

// .subscribeButton {
//     padding: 10px 20px;
//     background-color: #007bff;
//     color: white;
//     border: none;
//     border-radius: 5px;
//     cursor: pointer;
// }

// .subscribeButton:hover {
//     background-color: #0056b3;
// }



.newsletterContainer {
    width: 100vw;
    background-color: white;
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  
    h2 {
      color: #001f3f;
      font-size: 2rem;
      margin-bottom: 10px;
    }
  
    p {
      color: #333;
      font-size: 1.2rem;
      margin-bottom: 20px;
    }
  }
  
  .emailInput {
    padding: 10px;
    width: 70%;
    max-width: 400px;
    border: 2px solid #001f3f;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    transition: box-shadow 0.3s ease-in-out;
  
    &:focus {
      box-shadow: 0 4px 10px rgba(0, 31, 63, 0.3);
    }
  }
  
  .subscribeButton {
    padding: 8px 16px;
    background-color: #001f3f;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: box-shadow 0.3s ease-in-out;
  
    &:hover {
      background-color: #003366;
      box-shadow: 0 4px 10px rgba(0, 31, 63, 0.3);
    }
  }
  
