.policyPage {
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.bottomLine {
  width: 12rem;
  height: 0.3125rem;
  background: var(--primary);
  color: transparent;
  border-radius: 5px;
  // margin-bottom: 1rem;
}
.policyTitle {
  font-size: 3rem;
  // margin-bottom: 1.5rem;
  font-weight: 700;

  .bottomLine {
    width: 12rem;
    height: 0.3125rem;
    background: var(--primary);
    color: transparent;
    border-radius: 5px;
    margin: 0 auto 1rem auto;
  }
}

.policy-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
}

.policy-image {
  display: block;
  margin: 0 auto;
  max-width: 100%; /* Ensure the image is responsive */
  height: auto; /* Maintain aspect ratio */
}

@media (max-width: 768px) {
  .policy-image {
    width: 80%; /* Adjust image size for smaller screens */
  }
}

@media (min-width: 768px) {
  .policy-container {
    gap: 20px; /* Space between cards */
  }
}
