.newsCard {
    border: 1px solid rgb(4,19,49);
    padding: 20px;
    margin: 10px;
    width: 350px;
    /* height: 350px; */
    background-color: #dfdfdf4f;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

.newsCardImage {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.newsCardContent {
    margin-top: 10px;
    flex-grow: 1;
    overflow: hidden;
}

.schoolName {
    font-size: 14px;
    color: #777;
}

.newsTitle {
    font-size: 18px;
    margin: 5px 0;
}

.newsDateTime {
    font-size: 12px;
    color: #999;
    margin-bottom: 5px;
}

.newsDescription {
    font-size: 14px;
    line-height: 1.4;
    max-height: 3.6em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-bottom: 10px;
}

.readMoreBtn {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    align-self: flex-start;
    margin-top: auto;
}

/* Modal Styles */
.modalOverlay {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalContent {
    background-color: #fff;
    padding: 20px;
    width: 65vw;
    height: 90vh;
    max-width: 90%;
    border-radius: 10px;
    position: relative;
    overflow-y: scroll;
    @media(max-width: 480px) {
        width: 90vw;
        height: 70vh;
    }
}

.modalImage {
    width: 100%;
    height: 300px;
    object-fit: cover;
    margin-bottom: 15px;
}

.modalWatermark {
    position: absolute;
    top: 10px;
    left: 10px;
    opacity: 0.5;
    font-size: 20px;
    color: #ddd;
    z-index: -1;
}

.schoolNameModal {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

.modalDate {
    font-size: 14px;
    color: #999;
    text-align: right;
    margin-top: 20px;
}

.closeBtn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
    border-radius: 5px;
}