.newsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1rem;
    
}
/* styles.module.css */
.newsTitle {
    text-align: center;
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold;
    margin-top: 20px;
}
